BIGISUB_API_KEY=
BULKACC_API_KEY=
SMSBOWER_API_KEY=
FIVESIM_API_KEY=
JAP_API_KEY=
USD_NGN_RATE=
BOOST_MARKUP_PERCENT=30
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SECRET_KEY=
ADMIN_EMAILS=
